@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif; 
}


li {
    list-style-type: none;
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

#personal-logo {
    width: 50px;
    height: 50px;
    filter: invert(1);
}
 
.nav__link--list {
    display: flex;
}

.nav__link {
    margin: 0 12px;
}

 .nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
 }

 .fa-circle-half-stroke {
    font-size: 24px;
 }